<% layout("/layouts/boiler") %>


<body>
  <div class="row">
    <div class="col-8 offset-2"> 
      <br>
      <h3>Edit The Place</h3>

      <form method="POST" action="/listing/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"> 
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input 
                name="list[title]" 
                value="<%= listing.title %>" 
                type="text"  
                class="form-control"
                required
              />
              <div class="invalid-feedback">
            Please provide a valid Title.
            </div>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                name="list[description]"
                class="form-control"
                required
              >
            <%= listing.description %>
            </textarea>
            <div class="invalid-feedback">
            Please provide a valid Description.
            </div>
            </div>

            <div class="mb-3">
              <label for="image" class="form-label">Enter New Image Link</label>
              <input
                name="list[image][url]"
                value="<%= listing.image.url %>"
                type="text"
                class="form-control"
                required
              />
              <div class="invalid-feedback">
            Please provide a valid Image Link.
            </div>
            </div>

            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input 
                  name="list[price]" 
                  value="<%= listing.price %>" 
                  type="number" 
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">
            Please provide a valid Price.
            </div>
              </div>

              <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input
                  name="list[country]"
                  value="<%= listing.country %>"
                  type="text"
                  class="form-control"
                  required
                />
              </div>
              <div class="invalid-feedback">
            Please provide a valid Country Name.
            </div>
            </div>
            
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input
                name="list[location]"
                value="<%= listing.location %>"
                type="text"
                class="form-control"
                required
              />
              <div class="invalid-feedback">
            Please provide a valid Location.
            </div>
            </div>

            <br />
            <button class="btn btn-dark add-btn">Edit</button>

          </div>
        </div>
      </form>


    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
